.cc24_volunteer_thumb {
	border: 1px solid #adacad !important;
	padding: 3px !important;
	box-sizing: border-box !important;
	background: #efefef !important;
}

.speaker-avatar img {
	display: none !important;
}

.wcb_speaker-template-default.single.single-wcb_speaker .entry-content .speaker-avatar img {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
